.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 80vh;
}

.box {
  border: 1px solid black;
  display: flex;
  flex-flow: row wrap;
}

.item {
  margin: 3px;
  width: 50px;
  height: 50px;
  border: 1px solid black;
}

.dragging {
  opacity: 0.5;
}

.over {
  background-color: rgba(255, 255, 0, 0.3);
}